server:
  port: 8088
  forward-headers-strategy: FRAMEWORK

spring:
  config:
    import: classpath:env.properties
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_DATABASE}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ulviguluzada@gmail.com
    password: awixhfnipncbcxhj
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true



file:
  upload-dir: 'uploads'




application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days